name: Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Enable corepack
        run: corepack enable

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'pnpm'

      # --- 开始: Python 爬虫部分 ---
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pyyaml tqdm

      - name: Run Pixiv Crawler
        env:
          PHPSESSID: ${{ secrets.PHPSESSID }}
          R2_BUCKET_NAME: ${{ secrets.R2_BUCKET_NAME }}
          R2_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
          R2_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          R2_ENDPOINT: ${{ secrets.R2_ENDPOINT }}
        run: |
          curl -O https://raw.githubusercontent.com/orilights/python_scripts/main/pixiv_collection/main.py
          python main.py
      # --- 结束: Python 爬虫部分 ---

      - name: Build
        run: pnpm install && pnpm build
